#                **Data Structure(python assignment)**

#                    ** Theory Question **

1. What are data structure and why they are important?
2. Explain the difference between mutable and immutable data types with
   example.
3. What are the main difference between list and tuples in python?
4. Describe how dictionaries store data.
5. Why might you use set instead of list in python?
6. What is string in python , and how it is different from list?
7. How do tuples ensure data integrity in python?
8. What is hash table , and how it is related to dictionaries in python?
9. Can list contain different data types in python?
10. Expalin why strings are immutalbe in python .
11. What advantages do dictionaries offers over list for certin task ?
12. Describe a scenario where using a tuple would be preferable over a
    list.
13. How do sets handle duplicate values in python ?
14. How does the "in" keyword works differently for lists and
    dictionaries?
15. Can you modify the elemets of tuple? Explain why or why not.
16. What is a nested dictionaries,and give an example of its use case.
17. Describe the time complexity of accessing elements in a dictionary.
18. In what situations are lists preffered over dictionaries?
19. Why are ditionaries considered unordered,and how does that affect   
    the data retrival?
20. Explain the difference between a list and a dictionary in terms of
    data retrival?

#                         **Answer**

1. Data structure: Data structure is a way in which we can store the variety of data. It's a way to organise the data in a proper way so that we can access it properly and efficiently.

        It is important because in string we cannot store the variety of data a same time so we use data structues to store the variety of at the same time and with the help of data structue we an access the variety of data efficiently and proper way.


2. Difference between Mutable and Immutable data types:

    1. Mutable Datatypes: As we can undestand by the name olny that
       muatble data types means we can modify/change the data types.

       for example:
                    1. List
                    2. set
                    3. Dictionary

    2. Immutable datatypes: As we already know immutable means that we
       cannot modify/change the data types after the creation.

       for example:
                  1. Interger
                  2. String
                  3. Tuple
                  4. Float


3. Main difference between List and Tuple:

      
      1. List: List are the ordered and mutable data structure.
      2. Tuple: Tuple are ordered and immutable data structure.

      This can be the main difference between list and tuple data structure.


4. Dictionaries: As we all know that dictionaries is one of the data    
   structure that is used to store the variety of data in the block of memory and the most important thing is that dictonaries store the data in key:value pair where keys are unique and immuatble and values are immutable.
                      This is how dictionaries store the data.


5. We use set insted of list because:


    1. List: List allows duplicates of elements
             List doesn't allows mathematical operations like union, intersecton , difference, symmetric_difference.
             list are slower than set because list allows duplicates.

    2. Set: Set doesn't allow duplicates of elements it means that it
            is uniqueness.

            set allows mathematical operation like: union , intersection , difference, symmetric_difference.

            sets are faster than list to access the elements due to it's uniqueness.


6. String: String is a sequence of character in python and the are immutable once the string is created then we cannot change it .
whereas list are mutable it means we can change/modify the values after the creation.



7. Tuple ensure data integrity means as we all know that tuples are immutable once it is created we cannot change, add , remove the elements of tuple it means that once that tuple is created no one can change it so it means it prevents from accidental change. so we can say that tuples ensures data integrity in python.



8. Hash Table: Hash table is a data sturucture which maps that keys to the valuse for lookup, insertion , deletion of values.
      and python dictionaries uses hash hath table .when we create a dictionary and add key-values pair  dictionaries use hash function to calculate the hash value for keys. and this hash value determines the key-value pair is stored.
      This is how hash table works in dictonaries.



9. yes , list can contain different types of data in it .

for example:

       list= [1, 2, "mohit", 4+6j, True, 4.5, 2]
       print(list)

       o/p:- [1,2,'mohit',4+6j,True,4.5,2]



10. String are immutable because it provides the data integrity to the data and once the string is created we cannot change the string. if we use some operation to change the string then in that case we get a new string after the operation but in older string we see nothing have been changed so this shows that string are immutable and ensures in data integrity.



11. Dictionaries provide a better advantages than a list because in dictonaries data's are stored in key-pair values and duplicates of keys are allowed but last occurence of that key's value will be shown in output it means it updates itself.

but in case of list , list also allows the duplicates of items but it does not support auto update. it will execute all the elements in the output.



12. As we all know that tuple are immutable and ordered data structure where as list are mutable and ordered data sturcture .
Now let's understand with real life based example, why sometimes we prefer tuple over list.

we cannot change the employee__id, adhar number, atm number, account noumber they are permanent once they are created it means they are fixed we cannot change it and tuples are immutable and list are mutable and that is why we perefer tuple sometimes over list.



13. As we all know that set does not allow duplicates of the elements/items means it conatains on unique elements in it it means that all the duplicate elements in the stes are deleted and we get only the unique elements in the set . This is how sets manages the duplicates.

 for example:
   s={1,2,3,1,3,224,53,1,1,1,1,}
   s
   o/p:- {1,2,3,224,53}



14. List:

      l= [1,2,3,41,1,3]
      2 in l

      o/p: True

    Dictionary:
      
      my_dict= {"name":"Mohit", "email":"mr@gmail.com", "contact":1234}
      print('name' in my_dict)
      print('Mohit' in my_dict)
              

This is how "in" works in list and dictionary.



15. We cannot modify the elements of tuple because tuples are immutable if we try to change then it will through an error "tuple object does not support item assignment".


16. Nested Dictionary: Nested dictionary means a dictionary inside Dictionary.

for example:

my_dict={
  "person1":{
    "name":"raj",
    "age":25,
    "city":"bhopal"
  },
  "person2":{
    "name":"akash",
    "age":22,
    "city":"patna"
  },
  "person3":{
    "name":"aman",
    "age":35,
    "city":"vidisha"

  }
}



  
17. The time complexity of accessing element in dictionay is o(1).


18. When we have to access the elements of data structure with the help of their index number then in that case we can use list rather than using dictionary because in list indexing is possible where as in dictionaries data's are store in key-valuse pair so here values are accessed using key's.


19. Earlier dictionaries are unordered because using of hash table and data are stored based on hash value. internally data's are stored in unordered way and running the same code siultanieously aur in different python version order may change so dictionary are called unordered.


but now a days python 3.7+ version python community have changes somthing now dictionaries are ordered and still they are based on hash table.



20. In terms of data retrival in list data are retrived based on their index number where as in dictionary values are retrived based on their key's. This is how data retrival is done in list and dictionary.

#                       **Practical Question**

In [ ]:
# Q1.Write a code to create a string with your name and print it.

name="mohit"
print(name)

mohit

In [ ]:
# Q2.Write a code to print the lenth of the strig "Hello World"

Str="Hello World"
len(Str)

11

In [ ]:
# Q3.Write a code to slice the first 3 characters from the string "Python Programming"

Str="Python Programming"
Str[0:3]

'Pyt'

In [ ]:
# Q4. Write a code to convert the string "hello" in uppercase.

Str= "hello"
Str.upper()

'HELLO'

In [ ]:
# Q5. Write a code to replace the word "apple"  with "orange" from the string " i like apple"

Str="i like apple"
Str.replace("apple", "orange")

'i like orange'

In [ ]:
# Q6. Write a code to create a list with numbers 1 to 5 nd print it.

lis= [1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
# Q7. Write a code to append 10 in the list [1,2,3,4].

lis= [1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

In [ ]:
# Q8. Write a code to remove 3 in the list [1,2,3,4,5].

lis= [1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [ ]:
# Q9. Write a code to access the second element fron the list ['a','b','c','d'].

lis= ['a','b','c','d']
lis[1]

'b'

In [ ]:
# 10. write a code to reverse the list [10,20,30,40,50].

lis=[10,20,30,40,50]
lis[::-1]

[50, 40, 30, 20, 10]

In [ ]:
# Q11. Write a code to create a tuple with element 100,200,and 300 nd print it.

t1= (100,200,300)
print(t1)

(100, 200, 300)

In [ ]:
# Q12. Write a code to access second to last element of the tuple ("red", "green","blue", "yellow")

t1=("red", "green","blue", "yellow")
t1[1:]

('green', 'blue', 'yellow')

In [ ]:
# Q13. write a code to find the minimum number from the tuple (10,20,5,15)

t1=(10,20,5,15)
min(t1)

5

In [ ]:
# Q14. Write a code to find the index of element "cat" from the tuple ("dog","cat","rat")

t1=("dog","cat","rat")
t1.index("cat")

1

In [ ]:
# Q15. Write a code to create a tuple containing 3 different fruits and check if "kiwi" is in it.

t1=("apple","banana","kiwi")
"kiwi" in t1

True

In [ ]:
# Q16. Write a code to create a set containing "a", "b", "c" and print it.

s1={"a","b","c"}
print(s1)

{'a', 'c', 'b'}

In [ ]:
# Q17. Write a code to clear all the element from the set {1,2,3,4,5}

s1={1,2,3,4,5}
s1.clear()
s1

set()

In [ ]:
# Q18. Write a code to remove element "4" in the set {1,2,3,4}.

s1={1,2,3,4}
s1.remove(4)
s1

{1, 2, 3}

In [ ]:
# Q19. Write a code to find the union of set {1,2,3} and {3,4,5}.

s1={1,2,3}
s2={3,4,5}
s1|s2     #   s1.union(s2)   both can be used

{1, 2, 3, 4, 5}

In [ ]:
# Q20. Write a code to find the intersecton of set {1,2,3} and {2,3,4}.

s1={1,2,3}
s2={2,3,4}
s1&s2      #  s1.intersetion(s2)  it can also be used

{2, 3}

In [ ]:
# Q21. Write a code to create a dictionary with the keys "name","age","city" and print it.

my_dict={"name":"mohit","age":23,"city":"chapra"}
print(my_dict)

{'name': 'mohit', 'age': 23, 'city': 'chapra'}

In [ ]:
# Q22. write a code to add a key-value pair "country":"USA" to the dictionary {"name":"john","age":25}

my_dict={"name":"john","age":25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
# Q23. Write a code to access the valuse associated with key "name" in the dictionary {"name": "alice","age":30}

my_dict={"name": "alice","age":30}
my_dict["name"]

'alice'

In [ ]:
# Q24. write a code to remove the key "age" from the dictionary {"name":"bob","age":22,"city":"new york"}

my_dict={"name":"bob","age":22,"city":"new york"}
my_dict.pop("age")
print(my_dict)

{'name': 'bob', 'city': 'new york'}

In [ ]:
# Q25. Write a code to check if the key "city" exist in the dictionary {"name":"alice","city":"paris"}
my_dict={"name":"alice","city":"paris"}
"city" in my_dict

True

In [ ]:
# Q26. Write a code to create a list , tuple and dictionary and print them all.

lis=[1,2,"mohit",True,4+6j,5,2,1,3,7.55]
tup=(1,2,"mohit",True,4+6j,5,2,1,3,7.55)
my_dict={"name":"mohit","age":23,"city":"chapra","role":"student"}
print(lis,"\n",tup,"\n",my_dict)

[1, 2, 'mohit', True, (4+6j), 5, 2, 1, 3, 7.55]
 (1, 2, 'mohit', True, (4+6j), 5, 2, 1, 3, 7.55)
 {'name': 'mohit', 'age': 23, 'city': 'chapra', 'role': 'student'}

In [ ]:
# Q27. Write a code to create a list of 5 random numbers between 1 to 100, sort them all in ascending order, and print the result (replaced).

lis=[45,17,99,2,6]
print(lis)
lis.sort()
print(lis)      #after sorting # sorted(lis) we can also use to sort the list

[45, 17, 99, 2, 6]

[2, 6, 17, 45, 99]

In [ ]:
# Q28. Write a code to create a list with strings and print the element at the third index.

lis=["mohit","apple","banana","khushi", "rohit", "akash", "kiwi"]
lis[3]

'khushi'

In [ ]:
# Q29.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)
print(dict1)


#sir i have a doubt in case if both the dict have same keys like..
# my_dict1={"name":"mohit","age":23,"city":"chapra"}
# my_dict2={"name":"akash","age":22,"city":"patna"}

#then how we can combine them ????

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Q30. Write a code to convert the list of strings into set

lis=set(["mohit","apple","banana","khushi", "rohit", "akash", "kiwi"])
lis

{'akash', 'apple', 'banana', 'khushi', 'kiwi', 'mohit', 'rohit'}